.calidad__boton__a, .garantia__boton__vermas__a, .somos__section1__h2:hover, .boton__a {
  color: #E7E8EC;
  background: linear-gradient(90deg, #eb714b 0%, rgba(217, 29, 0, 0.639093) 99%); }

.calidad__boton__a:hover, .garantia__boton__vermas__a:hover, .boton__a:hover {
  box-shadow: 0 0 10px #EB714B, 0 0 30px #EB714B, 0 0 60px #EB714B;
  transition-delay: .3s; }

.encabezado, .servicio__titulo, .banner__horario, .banner__ubicacion, .garantia__titulo, .trabajos__servicios, .trabajos__img, .reparaciones__img__contenedor__antes, .reparaciones__img__contenedor__despues, .contacto__direccion, .contacto__ubicacion, .formularios__contenedor-2 {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }

* {
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
  list-style: none; }

a {
  text-decoration: none; }

body {
  background-color: #1C2641;
  font-size: 16px; }

.html {
  scroll-behavior: smooth; }

.bi-arrow-up-circle-fill {
  position: absolute;
  color: #6B6C72;
  font-size: 3em;
  margin-left: 40px;
  margin-top: -30px;
  animation-name: flecha2;
  animation-timing-function: ease-in;
  animation-duration: 1s;
  animation-iteration-count: infinite;
  animation-direction: alternate-reverse; }

@keyframes flecha2 {
  0% {
    transform: translateY(35px); }
  100% {
    transform: translateY(0); } }

@media only screen and (max-width: 576px) {
  body {
    font-size: 14px; } }

.header {
  background-image: url(../../imagenes/header.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  width: 100%;
  height: 100vh;
  text-align: center; }
  .header__logo {
    height: 50px;
    width: 50px;
    object-fit: cover;
    margin-right: 10px; }
    .header__logo:hover {
      animation-name: giro;
      animation-iteration-count: 1;
      animation-timing-function: ease-in;
      animation-duration: .5s;
      animation-delay: 0.3s;
      animation-direction: reverse; }
  .header__flecha {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center; }
    .header__flecha__boton {
      color: #6B6C72;
      animation-name: flecha0;
      animation-timing-function: ease-in;
      animation-duration: 1s;
      animation-iteration-count: infinite;
      animation-direction: alternate; }
  .header__barra {
    width: 100%; }
    .header__barra__nav {
      display: flex;
      justify-content: space-around;
      background-color: none; }
      .header__barra__nav__a {
        width: 25%;
        display: flex;
        align-items: center;
        justify-content: center; }
    .header__barra__as {
      width: 75%;
      display: flex;
      justify-content: center; }
    .header__barra__a {
      margin-left: 8px;
      font-size: 1em;
      font-weight: 900px;
      color: #1C2641; }
      .header__barra__a:hover {
        color: #EB714B; }
  .header__h1__index {
    display: inline-block;
    margin-top: 160px;
    font-size: 2.8125em;
    font-weight: 600;
    border-radius: 5px;
    color: #1C2641;
    backdrop-filter: blur(30px); }
    .header__h1__index__p {
      color: #E7E8EC;
      font-size: .47em;
      text-align: center; }

.button {
  color: #E7E8EC; }

.bi-arrow-down-circle-fill {
  font-size: 3.5em; }

.navbar-nav {
  width: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center; }

.navbar-dark .navbar-brand {
  color: #EB714B;
  font-size: 1.6em; }

.navbar-dark .navbar-brand:hover {
  color: #bb3c15; }

.navbar-dark .navbar-nav .nav-link.active {
  color: #1C2641; }

.navbar-dark .navbar-nav .nav-link.active:hover {
  color: #EB714B;
  border-bottom: solid #1C2641 1px;
  padding-bottom: 5px; }

@keyframes giro {
  0% {
    transform: rotate(0deg); }
  25% {
    transform: rotate(90deg); }
  50% {
    transform: rotate(180deg); }
  75% {
    transform: rotate(270deg); }
  100% {
    transform: rotate(360deg); } }

@keyframes flecha0 {
  0% {
    transform: translateY(-35px); }
  100% {
    transform: translateY(0); } }

@media only screen and (max-width: 991px) {
  .header__barra {
    background-color: #1C2641; }
    .header__barra__a {
      color: #E7E8EC; }
    .header__barra__nav__a {
      width: 70%;
      justify-content: flex-start; }
  .navbar-dark .navbar-nav .nav-link.active {
    color: #E7E8EC;
    height: 115px; } }

@media only screen and (max-width: 576px) {
  .header__flecha {
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center; }
  .header__h1__index {
    margin-top: 200px;
    font-size: 2.5em; } }

.footer {
  margin-top: 80px;
  width: 100%;
  height: 300px; }
  .footer__1 {
    width: 100%;
    height: 200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    box-shadow: 15px 10px 30px #000; }
    .footer__1__redes {
      height: 200px;
      width: 50%;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .footer__1__redes a {
        font-size: 2.1em;
        color: #aeb1bf; }
        .footer__1__redes a:hover {
          color: #EB714B; }
      .footer__1__redes__h2 {
        font-size: 1.5em;
        font-weight: 400;
        color: #E7E8EC; }
    .footer__1__contacto {
      width: 50%;
      height: 200px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center; }
      .footer__1__contacto__h2 {
        font-size: 1.5em;
        font-weight: 400;
        color: #E7E8EC; }
      .footer__1__contacto p {
        font-size: 1em;
        color: #aeb1bf; }
        .footer__1__contacto p .fab {
          font-size: 2.1em; }
          .footer__1__contacto p .fab:hover {
            color: #EB714B; }
        .footer__1__contacto p .fas {
          font-size: 2.1em; }
          .footer__1__contacto p .fas:hover {
            color: #EB714B; }
      .footer__1__contacto__p {
        margin-left: -140px; }
  .footer__2 {
    margin-top: 20px;
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center; }
    .footer__2 p {
      font-size: 1em;
      color: #E7E8EC; }
    .footer__2__jujuy {
      animation-name: entrar;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      animation-direction: alternate;
      animation-iteration-count: 1; }
    .footer__2__fabri {
      animation-name: entrar2;
      animation-duration: 1.5s;
      animation-timing-function: ease-in;
      animation-direction: alternate;
      animation-iteration-count: 1; }

@keyframes entrar {
  0% {
    transform: translateX(-600px); }
  50% {
    transform: translateX(50px); }
  100% {
    transform: translateX(0); } }

@keyframes entrar2 {
  0% {
    transform: translateX(600px); }
  50% {
    transform: translateX(-50px); }
  100% {
    transform: translateX(0); } }

@media only screen and (max-width: 576px) {
  .footer__1 {
    flex-direction: column;
    height: 400px; }
    .footer__1__redes {
      width: 100%; }
    .footer__1__contacto {
      width: 100%; }
      .footer__1__contacto__p {
        margin-left: 0; } }

.encabezado {
  width: 100%;
  height: 400px;
  text-align: center; }
  .encabezado__contenedor__h2 {
    color: #EB714B;
    font-size: 2.1875em;
    font-weight: 600; }
  .encabezado__contenedor__h4 {
    color: #E7E8EC;
    font-weight: 600;
    font-size: 1.25em; }
  .encabezado__contenedor__p {
    color: #E7E8EC;
    text-align: center;
    margin-top: 20px;
    padding: 0px 250px 0px 250px; }

.servicio {
  width: 100%;
  height: 600px;
  background-color: #1C2641;
  /* img{
        height: 200px;
        width: 155.84px;
    } */ }
  .servicio__titulo {
    width: 100%;
    height: 150px; }
    .servicio__titulo__h3 {
      text-align: start;
      color: #EB714B;
      font-weight: 600;
      font-size: 2.1875em; }
    .servicio__titulo__p {
      color: #E7E8EC;
      font-size: 1.25em;
      font-weight: 600; }
  .servicio__galeria {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around; }
    .servicio__galeria__img {
      display: inline-block;
      width: 350px;
      height: 400px;
      margin: 30px;
      background-color: #EB714B;
      padding: 10px;
      text-align: center;
      border-radius: 20px; }
      .servicio__galeria__img:hover {
        transform: scale(1.08); }
      .servicio__galeria__img__caja {
        width: 200px;
        height: 250px;
        margin: auto;
        background-color: grey; }
        .servicio__galeria__img__caja img {
          height: 100%;
          width: 100%;
          object-fit: cover; }
    .servicio__galeria__img1__parrafo, .servicio__galeria__img2__parrafo, .servicio__galeria__img3__parrafo {
      text-align: left;
      color: #E7E8EC;
      margin-top: 30px;
      font-size: 1em; }

.calidad {
  margin-top: 100px;
  background-color: #1C2641;
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap; }
  .calidad__titulo {
    display: flex;
    width: 50%;
    height: 500px;
    flex-direction: column;
    justify-content: start;
    align-items: center;
    text-align: center; }
    .calidad__titulo__h3 {
      color: #EB714B;
      font-size: 2.1875em;
      font-weight: 600; }
    .calidad__titulo__p {
      color: #E7E8EC;
      font-size: 1.25em;
      font-weight: 600; }
    .calidad__titulo__botonYoutube {
      margin-top: 150px;
      color: #E7E8EC;
      font-size: 2em; }
      .calidad__titulo__botonYoutube:hover {
        color: #E7E8EC; }
      .calidad__titulo__botonYoutube i:hover {
        color: #EB714B; }
  .calidad__video {
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center; }
  .calidad__boton {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center; }
    .calidad__boton__a {
      font-size: 1em;
      color: #E7E8EC;
      text-decoration: none;
      padding: 10px;
      transition: .5s; }
      .calidad__boton__a:hover {
        color: #E7E8EC; }

.banner {
  height: 150px;
  width: 100%;
  border: solid #EB714B 1px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  background-color: #141c2f;
  margin-top: 30px; }
  .banner__horario {
    width: 50%;
    color: #EB714B; }
    .banner__horario__reloj {
      font-size: 25px;
      color: #E7E8EC;
      margin-bottom: 10px; }
  .banner__ubicacion {
    width: 50%;
    color: #EB714B; }
    .banner__ubicacion__mapa {
      font-size: 25px;
      color: #E7E8EC;
      margin-bottom: 10px; }

.garantia {
  width: 100%;
  height: 600px;
  margin-top: 100px;
  display: flex;
  flex-direction: column; }
  .garantia__titulo {
    width: 100%;
    height: 100px; }
    .garantia__titulo__h3 {
      font-size: 2.1875em;
      color: #EB714B;
      font-weight: 600;
      text-align: center; }
    .garantia__titulo__p {
      text-align: center;
      color: #E7E8EC;
      font-size: 1.25em;
      font-weight: 600; }
  .garantia__carrusel {
    margin-top: 50px;
    width: 100%;
    height: 350px;
    display: flex;
    padding: none;
    background-color: #EB714B;
    align-items: center;
    justify-content: center; }
    .garantia__carrusel .carousel {
      width: 600px;
      height: 350px;
      margin: auto; }
      .garantia__carrusel .carousel__img {
        height: 300px;
        width: 300px;
        object-fit: contain; }
      .garantia__carrusel .carousel-item {
        text-align: center; }
  .garantia__boton__vermas {
    height: 100px;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
    .garantia__boton__vermas__a {
      margin-top: 80px;
      text-decoration: none;
      text-align: center;
      padding: 10px;
      font-size: 1em;
      color: #E7E8EC;
      transition: .5s; }
      .garantia__boton__vermas__a:hover {
        color: #E7E8EC; }

@media only screen and (max-width: 991px) {
  .encabezado__contenedor__p {
    padding: 0; }
  .somos__section__2 {
    font-size: 0.9em; } }

@media only screen and (max-width: 822px) {
  .servicio {
    height: 1400px; }
    .servicio__galeria {
      flex-direction: column; }
      .servicio__galeria__img1__parrafo, .servicio__galeria__img2__parrafo, .servicio__galeria__img3__parrafo {
        font-size: 1em; }
  .calidad {
    height: 800px;
    display: flex;
    flex-direction: column; }
    .calidad__titulo {
      width: 100%;
      height: 60px;
      margin-top: 100px;
      order: -1; }
      .calidad__titulo__botonYoutube {
        display: none; }
    .calidad__video {
      width: 100%; } }

@media only screen and (max-width: 576px) {
  .servicio__galeria__img {
    width: 300px; }
  .servicio__galeria__img1__parrafo, .servicio__galeria__img2__parrafo, .servicio__galeria__img3__parrafo {
    margin-top: 30px; }
  .servicio__titulo {
    width: 100%; }
  .banner {
    height: 300px;
    flex-direction: column; } }

.somos {
  background-color: #1C2641;
  width: 100%;
  height: 1200px; }
  .somos__section {
    margin-top: 50px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .somos__section__svg {
      height: 200px;
      margin: auto; }
      .somos__section__svg:hover {
        animation-name: balanceo;
        animation-duration: 2s;
        animation-iteration-count: infinite;
        animation-direction: alternate; }
    .somos__section__titulo {
      height: 350px;
      width: 50%;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      align-items: center; }
      .somos__section__titulo__logo {
        width: 250px; }
      .somos__section__titulo__h3 {
        color: #E7E8EC;
        margin-top: 10px;
        font-weight: 400px;
        border-bottom: solid #EB714B 1.8px; }
  .somos__section1 {
    width: 100%;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center; }
    .somos__section1__h2 {
      height: 160px;
      width: 70%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 2.1875em;
      color: #EB714B;
      border: solid #EB714B 2px;
      border-radius: 5px; }
  .somos__section__2 {
    height: 450px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse; }
    .somos__section__2__svg {
      height: 200px;
      margin: auto; }
    .somos__section__2__p {
      color: #E7E8EC;
      padding: 20px;
      font-size: 1em;
      border-radius: 10px;
      height: 350px;
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      border-left: solid #EB714B 1.8px;
      border-right: solid #EB714B 1.8px; }
    .somos__section__2 p {
      margin-bottom: 0; }

@keyframes balanceo {
  0% {
    transform: rotate(10deg); }
  100% {
    transform: rotate(-10deg); } }

@media only screen and (max-width: 991px) {
  .somos__section__2 {
    font-size: 0.9em; } }

@media only screen and (max-width: 822px) {
  .somos {
    height: 1500px; }
    .somos__section {
      font-size: 1.3em;
      height: 600px;
      flex-direction: column; }
      .somos__section__titulo {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        font-size: 1.2em; }
    .somos__section__2 {
      font-size: 0.8em;
      flex-direction: column-reverse;
      height: 600px;
      align-items: center; }
      .somos__section__2__p {
        height: 450px; } }

@media only screen and (max-width: 576px) {
  .somos__section__titulo {
    width: 70%;
    height: 300px; }
    .somos__section__titulo__logo {
      width: 200px;
      height: 200px; }
  .somos__section1__h2 {
    font-size: 1.7em; }
  .somos__section__2 {
    justify-content: center; }
    .somos__section__2__p {
      width: 70%; }
    .somos__section__2__svg {
      display: none; }
    .somos__section__2__h2 {
      display: block;
      order: 2; } }

.trabajos {
  width: 100%;
  height: 550px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  border-top: solid #EB714B 5px; }
  .trabajos__servicios {
    width: 50%;
    height: 550px; }
    .trabajos__servicios__h3 {
      font-size: 2.1875em;
      font-weight: 600px;
      color: #EB714B; }
    .trabajos__servicios__h4 {
      font-size: 1.25em;
      font-weight: 600;
      color: #E7E8EC;
      border-bottom: solid #E7E8EC 1px; }
    .trabajos__servicios__ul__li {
      margin: 20px;
      color: #E7E8EC; }
  .trabajos__img {
    width: 50%;
    height: 550px; }
    .trabajos__img .robot {
      width: 300px; }
  .trabajos__h3 {
    color: #E7E8EC;
    font-size: 1.875em;
    font-weight: 400;
    margin-top: 40px;
    border-bottom: solid #EB714B 1px;
    border-top: solid #EB714B 1px;
    text-align: center; }

.reparaciones {
  width: 100%;
  height: 1600px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px; }
  .reparaciones__img {
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center; }
    .reparaciones__img .reparaciones__2 .reparaciones__4 {
      display: flex;
      flex-direction: row-reverse; }
    .reparaciones__img .img__reparaciones {
      width: 160px;
      background-color: #EB714B;
      padding: 10px; }
    .reparaciones__img__p {
      font-size: 0.9375em;
      color: #E7E8EC;
      border-right: solid 1px #EB714B;
      width: 50%;
      margin: 30px; }
    .reparaciones__img__contenedor {
      margin-left: 50px;
      margin-right: 50px;
      height: 300px;
      width: 50%;
      display: flex;
      flex-direction: row;
      background-color: #141c2f;
      border: solid 1px #EB714B; }
      .reparaciones__img__contenedor p {
        color: #E7E8EC;
        border-bottom: solid 1px #EB714B; }
      .reparaciones__img__contenedor__antes {
        height: 250px;
        width: 50%;
        margin: 20px; }
      .reparaciones__img__contenedor__despues {
        height: 250px;
        width: 50%;
        margin: 20px; }

.boton {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .boton p {
    color: #EB714B;
    font-size: 25px;
    margin-bottom: 30px; }
  .boton__a {
    padding: 10px;
    font-size: 1em;
    color: #E7E8EC;
    transition: .5s; }
    .boton__a:hover {
      color: #E7E8EC; }

@media only screen and (max-width: 822px) {
  .reparaciones {
    height: 2000px; }
    .reparaciones__img {
      flex-direction: column;
      margin-top: 60px;
      margin-bottom: 50px; }
      .reparaciones__img__contenedor {
        width: 80%; } }

@media only screen and (max-width: 576px) {
  .trabajos {
    height: 800px;
    flex-direction: column; }
    .trabajos__servicios {
      margin-top: 30px;
      width: 100%; }
    .trabajos .robot {
      width: 200px; }
    .trabajos__img {
      height: 300px; }
  .reparaciones {
    height: 2100px; }
    .reparaciones__img {
      flex-direction: column;
      margin-top: 60px; }
      .reparaciones__img__contenedor {
        width: 100%; } }

@media only screen and (max-width: 390px) {
  .reparaciones__img {
    height: 700px; }
    .reparaciones__img__contenedor {
      flex-direction: column;
      height: 600px;
      align-items: center; }
  .reparaciones {
    height: 3300px; } }

.main-celulares {
  background-color: #E7E8EC; }

.bannerOferta {
  width: 100%;
  height: 130px;
  background-color: #1C2641;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around; }
  .bannerOferta i {
    font-size: 2em;
    color: #EB714B; }
  .bannerOferta p {
    color: #E7E8EC; }
  .bannerOferta__descuento {
    width: 33.33%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 10px; }

.h3__nuevos {
  text-align: center;
  color: #1C2641;
  font-size: 2.5em;
  border-bottom: solid #E7E8EC 1px;
  padding-top: 30px;
  margin-bottom: -50px; }

.nuevos {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .nuevos__celulares {
    width: 200px;
    height: 320px;
    display: flex;
    flex-direction: column;
    border: solid 1px #bebfc2;
    border-radius: 10px; }
    .nuevos__celulares__precio {
      margin: 10px; }
    .nuevos__celulares__p {
      margin: 0px 10px 0px 10px;
      color: #4d4d4d; }
    .nuevos__celulares__img {
      height: 200px;
      border-bottom: solid 1px #d5d8df; }

.anuncio {
  width: 100%;
  height: 130px;
  background-color: #d1341f;
  display: flex;
  align-items: center;
  flex-direction: row; }
  .anuncio i {
    color: #E7E8EC;
    margin-left: 20px;
    font-size: 2.5em; }
  .anuncio p {
    font-size: 18px;
    text-align: center;
    margin: auto;
    color: #E7E8EC; }

.h3__usados {
  text-align: center;
  color: #1C2641;
  font-size: 2.5em;
  margin-top: 20px;
  border-bottom: solid #E7E8EC 1px; }

.usados {
  width: 100%;
  height: 600px;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  flex-wrap: wrap; }
  .usados__celulares {
    width: 200px;
    height: 300px;
    background-color: #E7E8EC;
    display: flex;
    flex-direction: column;
    border: solid 1px #bebfc2;
    border-radius: 10px; }
    .usados__celulares__img {
      margin-top: 5px;
      height: 200px;
      object-fit: contain;
      border-bottom: solid 1px #d5d8df; }

.boton__celulares {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column; }
  .boton__celulares p {
    color: #1C2641;
    font-size: 25px;
    margin-bottom: 30px; }
  .boton__celulares a {
    background-color: #1C2641;
    padding: 10px;
    font-size: 1em;
    color: #E7E8EC;
    transition: .5s;
    margin-bottom: 20px; }
    .boton__celulares a:hover {
      color: #E7E8EC;
      box-shadow: 0 0 15px #2947df, 0 0 35px #2947df, 0 0 65px #2947df;
      transition-delay: .3s; }

@media only screen and (max-width: 600px) {
  .main-celulares {
    height: 3000px; }
  .usados {
    height: 1250px;
    margin-top: -50px;
    flex-direction: column; }
  .nuevos {
    height: 1250px;
    flex-direction: column; }
  .anuncio {
    height: 150px; }
    .anuncio p {
      font-size: 14px; } }

.contacto {
  width: 100%;
  height: 655px;
  display: flex;
  flex-direction: row; }
  .contacto__direccion {
    width: 50%;
    height: 665px; }
    .contacto__direccion__h2 {
      color: #EB714B;
      font-size: 2.1875em;
      font-weight: 600; }
    .contacto__direccion__h3 {
      color: #E7E8EC;
      font-weight: 400px; }
    .contacto__direccion__p {
      font-size: 18px;
      color: #E7E8EC;
      text-align: center; }
    .contacto__direccion__horario {
      color: #E7E8EC;
      font-size: 18px; }
  .contacto__ubicacion {
    width: 50%;
    height: 100%; }
    .contacto__ubicacion__h3 {
      color: #EB714B;
      font-size: 2.1875em;
      font-weight: 600;
      margin-bottom: 20px; }
    .contacto__ubicacion__mapa {
      width: 70%;
      height: 80%; }

.formularios {
  width: 100%;
  display: flex;
  flex-direction: row; }
  .formularios__contenedor {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center; }
    .formularios__contenedor__h3Dudas {
      font-size: 2.1875em;
      color: #EB714B;
      margin-bottom: 15px;
      text-align: center;
      margin-left: 5px;
      margin-right: 5px; }
  .formularios__contenedor-2__h3Presupuestos {
    font-size: 2.1875em;
    color: #EB714B;
    margin-bottom: 15px; }
  .formularios label {
    color: #E7E8EC; }

@media only screen and (max-width: 822px) {
  .contacto {
    flex-direction: column;
    height: 100vh; }
    .contacto__direccion {
      width: 100%; }
    .contacto__ubicacion {
      width: 100%;
      flex-direction: column; }
      .contacto__ubicacion__mapa {
        width: 100%; }
  .formularios {
    flex-direction: column; }
    .formularios__contenedor {
      margin-top: 60px;
      width: 100%; }
    .formularios__contenedor-2 {
      margin-top: 60px;
      width: 100%; } }
