

*{
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    
}
/* INDEX //////////////////////////////////////////////////////////*/
body{
    background-color: #1C2641;
   /*  display: grid;
    grid-template-areas: 
    'header header header header'
    'main  main  main   main'
    'footer footer footer footer'
    ; */

    font-size: 16px;
}
/* HEADER */

header{
    /* grid-area: header; */
    background-image:url(./imagenes/header.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100vh;
    text-align: center;
}
.header__logo{
    height: 50px;
    width: 50px;
    object-fit: cover;
}
.header__logo:hover{
animation-name:giro;
animation-iteration-count: 1 ;
animation-timing-function: ease-in;
animation-duration: .5s;
animation-delay: 0.3s;
animation-direction:reverse;
}

.button{
    color: #E7E8EC;
}
.bi-arrow-down-circle-fill{
    font-size: 3.5em;
    color:#6B6C72;
    margin-right: 50px;
    animation-name: flecha;
    animation-timing-function: ease-in;
    animation-duration: 1s;
    animation-iteration-count: 11;
    animation-direction: alternate;
}
@keyframes flecha {
    0%{
transform: translateY(-35px);
    }
    100%{
        transform: translateY(0);
    }
    
}
.header__flecha{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
}
/* li{
    list-style: none;
}
.header__ul__li{
    display: inline-block;
    margin: 5px;
}
.header__div{
    display: flex;
    justify-content: center;    
} */
/* .header__ul{
    width: 50%;
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    background-color: #1C2641;
    border-radius: 5px;
    position: fixed;

}
 */
 .header__barra__nav__a {
 width: 20%;
display: flex;
align-items: center;
justify-content: flex-end;
 }
 .header__barra{
width: 100%;
 }
 
 .header__barra__nav {
     display: flex;
     justify-content:space-around;
     background-color:none;
 }
 .header__barra__as {
    width: 80%;
    display: flex;
    justify-content: center;
}
.header__barra__a{
    margin-left: 8px;
    font-size: 1em;
    font-weight: 900px;
    color: #1C2641;
}
.header__barra__a:hover{
    color: #EB714B;
}

.navbar-nav{
width: 100%;
display: flex;
justify-content: flex-end;
align-items: center;
}

.navbar-dark .navbar-brand{
    color: #EB714B;
    font-size: 1.6em;
}
.navbar-dark .navbar-brand:hover{
    color: #a84629;
}
.navbar-dark .navbar-nav .nav-link.active{
    color: #1C2641;
}
.navbar-dark .navbar-nav .nav-link.active:hover{
    color: #EB714B
}

.header__h1__index{
    display:inline-block;

    /* background-color: #ECECEC; */
    color: #1C2641;
    backdrop-filter: blur(30px);
    /* background-color: #E4E8EB; */
    margin-top: 160px;
    font-size: 2.8125rem;
    font-weight: 600;
    border-radius: 5px;
   /*  animation-name:titulo;
    animation-iteration-count:1;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-duration: 0.9s;
    animation-delay: 0.3s; */

}
/* @keyframes titulo {

   0%{
    transform: translateY(-140px );
   }

   20%{
     transform: translateY(0px);
   }   
   40%{
       transform: translateY(-70px);
   }
   60%{
       transform: translateY(0px);
   }
   80%{
       transform:translateY(-35px);
   }
   100%{
       transform:translateY(0)
   }
} */
.header__h1__index__p{
    color: #E7E8EC;
    font-size: .47em;
    text-align: center;
}

/* MAIN///////////// */
/* .inicio, .quienessomos, .celulares, .trabajos, .contactanos{
    color: #EB714B
} */

.encabezado__contenedor__h2{
    color: #EB714B;
    font-size: 2.1875em;
    font-weight: 600;
}
.encabezado__contenedor__h4{
    color: #ECECEC;
    font-weight: 600;
    font-size: 1.25rem;
}
.encabezado{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.encabezado__contenedor__p{
    color: #E7E8EC;
    text-align:center;
    margin-top:10px;
}
/* .encabezado__contenedor{
    
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
text-align: center; */


.servicio{
    width: 100%;
    height: 600px;
    /* background-color:#6CCEBF; */
    background-color:#1C2641;
}
.servicio__titulo{
    width: 50%;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.servicio__titulo__h3{
    text-align:start;
    color: #EB714B;
    font-weight: 600;
    font-size: 2.1875rem;
}
.servicio__titulo__p{
    color: #E7E8EC;
    font-size:1.25em;
    font-weight: 600;
}

.servicio__galeria{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;

}

/* .servicio__img{
    display: inline-block;
    object-fit:contain;
    width: 12.5rem;
    height: 18.75rem;
    margin: 60px;
    background-color: #EB714B;
    padding: 20px;
    border-radius: 20px;
    box-shadow: 10px 15px 30px #000;
    text-align: center;
} */
.servicio__galeria__img{
    display: inline-block;
    object-fit:contain;
    width: 300px;
    height: 400px;
    margin: 60px;
    background-color: #EB714B;
    padding: 20px;
    
    box-shadow: 10px 15px 30px #000;
    text-align: center;
    
}

.servicio img{
    height: 200px;
    width: 155.84px;
    
}
.servicio__galeria__img1__parrafo, .servicio__galeria__img2__parrafo, .servicio__galeria__img3__parrafo{
    color: #E7E8EC;
    margin-top: 10px;
    font-size: 1em;
}



.calidad{

    margin-top: 100px;
    background-color: #1C2641;
    /* padding: 95px 50px 50px 50px; */
    width: 100%;
    height: 600px;
    display: flex;
    flex-direction:row;
    flex-wrap: wrap;
    
}
/* .calidad__video, .calidad__titulo{
    display: inline-block;
    margin-top: 100px;
    margin-left: 40px;
} */
.calidad__titulo{
    display: flex;
    width: 50%;
    height: 500px;
    flex-direction: column;
    justify-content: start;
    align-items: center;

    text-align: center;

}
.calidad__video{
    display: flex;
    width: 50%;
    height: 500px;
    justify-content: center;
    align-items: center;
}
.calidad__titulo__h3{
    color: #EB714B;
    font-size: 2.1875em;
    font-weight: 600;
}
.calidad__titulo__p{

    color: #ECECEC;
    font-size:1.25em;
    font-weight: 600;
}
.calidad__boton{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.calidad__boton__a{
    font-size: 1em;
    color: #ECECEC ;
    text-decoration: none;
    background-color: #EB714B;
    padding:10px;
    border-radius: 20px;
}
a{
    text-decoration: none;
}

.garantia{
    width: 100%;
    height: 600px;
    margin-top:100px;
    display: flex;
    flex-direction: column;
}
.garantia__titulo{
    width: 100%;
    height: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.garantia__titulo__h3{
    font-size: 2.1875em;
    color: #EB714B;
    font-weight: 600;
    text-align: center;
}
.garantia__titulo__p{
    text-align: center;
    color: #ECECEC;
    font-size: 1.25em;
    font-weight: 600;
}
.garantia__carrusel{
    margin-top: 50px;
    width: 100%;
    height: 350px;
    display: flex;
    padding: none;
    background-color: #EB714B;
    align-items: center;
    justify-content: center;
}
.carousel{
    width: 600px;
    height: 350px;
    margin: auto;
}
.carousel__img{
height:300px;
width:300px;
object-fit: contain;
}
.carousel-item{
    text-align: center;
}

.garantia__boton__vermas__a{
    margin-top: 80px;
    text-decoration: none;
    text-align:center;
    background-color: #EB714B;
   /*  background-image: linear-gradient( #EB714B, #1C2641); */
    padding: 10px;
    font-size: 1em;
    color: #ECECEC;
    border-radius: 20px;
}
.garantia__boton__vermas{
   height: 100px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
 .bi-arrow-up-circle-fill{
    color: #6B6C72;
    position: absolute;
font-size: 3em;
margin-left: 40px;
margin-top: px;
animation-name: flecha2;
animation-timing-function: ease-in;
animation-duration: 1s;
animation-iteration-count: 11;
animation-direction: alternate-reverse;

 }

@keyframes flecha2 {
0%{
transform: translateY(35px);
}
100%{
    transform: translateY(0);
}

}
/* FOOTER//////////////////////////// */
.footer{
    /* grid-area: footer; */
    margin-top: 80px;
    width: 100%;
    height:300px;


}
.footer__1{
    width: 100%;
    height:200px;
    display: flex;
   flex-direction: row;
   align-items: center;
   box-shadow: 15px 10px 30px #000; 

}
.footer__1__redes{
    height: 200px;
    width: 50%;
    display: flex;
    flex-direction:column;
    justify-content: space-around;
    align-items: center;
    
}
.footer__1__redes a{
    font-size: 1em;
    color: #EB714B;
}
.footer__1__contacto{
    width: 50%;
   height: 200px;
   display: flex;
   flex-direction: column;
   justify-content: space-around;
   align-items: center;
}
.footer__1__contacto p{
font-size: 1em;
    color: #EB714B;
}
.footer__1__redes__h2{
    font-size: 1.5em;
    font-weight: 400;
    color: #ECECEC;
}
.footer__1__contacto__h2 {
    font-size: 1.5em;
    font-weight: 400;
    color: #ECECEC; 

}
.footer__2{
    margin-top: 20px;
 width: 100%;
 height: 100px;
 display: flex;
 flex-direction: column;
 justify-content: space-around;
 align-items: center;

}
.footer__2 p{
    font-size: 1em;
    color:#E7E8EC;
}
.footer__2__jujuy{
    animation-name: entrar;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: 1;
} 
@keyframes entrar {
    0%{
    transform: translateX(-600px)
    }
    50%{
        transform: translateX(50px)
    }
    100%{
        transform: translateX(0)
    }
}

.footer__2__fabri{
    animation-name: entrar2;
    animation-duration: 1.5s;
    animation-timing-function: ease-in;
    animation-direction: alternate;
    animation-iteration-count: 1;
} 
@keyframes entrar2 {
    0%{
    transform: translateX(600px)
    }
    50%{
        transform: translateX(-50px)
    }
    100%{
        transform: translateX(0)
    }
}
 /*  ///////////////   SIGUIENTE PAGINA:    QUIENES SOMOS?/////////////////////////////////////////////////*/

.somos__section__titulo__logo{
    width: 250px;
    object-fit: contain;
}
.somos{
    background-color: #1C2641;
    width: 100%;
    height: 800px;
}
.somos__section{
margin-top: 50px;
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-bottom: 50px;
}
.somos__section__svg{
    height: 200px;
    margin: auto;
    

}
.somos__section__svg:hover{

    animation-name: balanceo;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    animation-direction: alternate;
    

}
@keyframes balanceo {
    0%{
transform: rotate(10deg);
    }
     100%{
        transform: rotate(-10deg);
    }
    
}
.somos__section__2__svg{
    height: 200px;
    margin: auto;
    
}
.somos__section__titulo{

    background-color: #EB714B;
    height:350px ;
    width: 50%;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.somos__section__2{
    height: 400px;
    width: 100%;
    display: flex;
    justify-content: flex-end;
}
.somos__section__2__h2{
    display: none;
    font-size: 1.5em;
    color: #EB714B;
    padding: 40px;
    border: solid #EB714B 2px;
    border-radius: 5px;
}
.somos__section__2__p{
    padding:20px;
    font-size: 1em;
    background-color: #EB714B;
    border-radius: 10px;
    height:350px ;
    width:50%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.somos__section__2 p{
    margin-bottom: 0;
}
/* SIGUIENTE PAGINA:     TRABAJOS//////////////////////////// */

.trabajos__section{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top:  solid #EB714B 10px;
    border-bottom:  solid #EB714B 10px;
    
}
.trabajos__section__servicios{
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

}
.trabajos__section__img{
    width: 50%;
    height: 550px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.robot{
    border-radius: 50%;
    width: 300px;

}
.h3__trabajos{
    font-size: 2.1875em;
    font-weight: 600;
    color: #EB714B;
}
.h4__trabajos{
    font-size: 1.25em;
    font-weight: 600;
    color: #E7E8EC;
    border-bottom: solid #E7E8EC 1px;
}
.trabajos__ul__li{
    list-style: none;
    margin: 20px ;
    color: #E7E8EC;

}


.h3__main{
    color: #E7E8EC;
    font-size: 1.875em;
    font-weight: 600;
    text-align: center;
    margin-top: 40px;
}
.reparaciones{
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;

}
.reparaciones__img{
    width: 100%;
    height: 400px;
    display: flex;
    flex-direction: row;
    align-items: center;
    
}
.img__reparaciones{
    width: 150px;
    object-fit: contain;
}.reparaciones__2, .reparaciones__4{
    display: flex;
    flex-direction: row-reverse;
}
.p__trabajos{
font-size: 0.9375em;
color: #E7E8EC;
}

/* /////////////////////CELULARES/////////////// */

.nuevos{
width: 100%;
height: 600px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}
.h3__nuevos{
    text-align: center;
    color: #EB714B;
    font-size: 2.5em;
    margin-top: 20px;
    border-bottom: solid #E7E8EC 1px;
}
.celularN{
    width: min-content;
    height: 300px;
    background-color: #E7E8EC;
    display: flex;
}
.usados{
    width: 100%;
height: 600px;
display: flex;
flex-direction: row;
justify-content: space-evenly;
align-items: center;

}
.h3__usados{
    text-align: center;
    color: #EB714B;
    font-size: 2.5em;
    margin-top: 20px;
    border-bottom: solid #E7E8EC 1px;
}
.celularU{
    width: 300px;
    height: 300px;
    background-color: #E7E8EC;
    display: flex;
}

.img__nuevos{
    height: 200px;
    

}
/* //////////CONTACTO///////// */
.contacto{
    width: 100%;
    height: 655px;
    display: flex;
    flex-direction: row;
}
.contacto__direccion{
    width: 50%;
    height: 665px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    
}
.contacto__ubicacion{
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.contacto__ubicacion__mapa{
    width: 70%;
    height: 80%;
}
.h2__contacto{
    color: #EB714B;
    font-size: 2.1875em;
    font-weight: 600;
}
.h3__ubicacion{
    color: #EB714B;
    font-weight: 600;
    font-size: 2.1875em;
    margin-bottom: 20px;
}
.h3__direccion{
    color: #E7E8EC;
    font-weight: 400;
}
.contacto__direccion__p{
font-size: 18px;
color: #E7E8EC;
text-align: center;
}
.formularios{
    width: 100%;
    display: flex;
    flex-direction:row   ;
}
.formularios__contenedor{
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
}
.formularios__contenedor-2{
 display: flex;
 flex-direction: column;
 align-items: center;
    width: 50%;
}
.h3__dudas{
    font-size:2.1875em ;
    color: #EB714B;
    margin-bottom: 15px;
    text-align: center;
    margin-left: 5px;
    margin-right: 5px;
}
.h3__presupuestos{
    font-size:2.1875em ;
    color: #EB714B;
    margin-bottom: 15px;
}   
.formularios label{
    color: #EB714B;
}
@keyframes giro {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media only screen and (max-width: 991px){
    .header__barra__nav__a {
     width: 70%;
     justify-content: flex-start;
    }
    
    .servicio__img1__parrafo, .servicio__img2__parrafo, .servicio__img3__parrafo{
    font-size: 0.875rem;
    }
    .navbar-dark .navbar-nav .nav-link.active {
        color: #E7E8EC;
        height:115px;

    }
    .header__barra{
        background-color: #1C2641;
    }
    .header__barra__a {
        color: #E7E8EC;
    }
    .somos__section__2{
        font-size: 0.9em;
    }
}
@media only screen and (max-width: 822px){
  
    .bi-arrow-down-circle-fill{
        margin-left: 50px;
    }

    .servicio__img1__parrafo, .servicio__img2__parrafo, .servicio__img3__parrafo{
        font-size: 1rem;
        }
    .galeria__img__servicios{
        flex-direction: column;
    }
    .servicio{
        height: 1600px;
    }
    .contacto{
        flex-direction: column;
        height: 100vh;
    }
    .contacto__direccion, .contacto__ubicacion{
        width: 100%;
    }
    .contacto__ubicacion__mapa{
        width: 100%;

    }
    .formularios{
        flex-direction: column;
    }
    .formularios__contenedor, .formularios__contenedor-2{
        margin-top: 60px;
        width: 100%;
    }
    .somos{
        height: 1200px;
    }
   .somos__section{
       font-size: 1.3em ;
       height: 600px;
       flex-direction: column;
   }
   .somos__section__titulo{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2em;
}

    .somos__section__2{
        font-size: 0.8em;
        flex-direction: column-reverse;
        height: 600px;
        align-items: center;
    }
    .section-somos2__p{
        height: 450px;
    }


    

}
@media only screen and (max-width: 576px){

/* .header__ul{
    width: 100%;
    border-radius: 0px;
    font-size: 16px;
} */
.header__h1__index{
    margin-top: 200px;
    font-size: 2.5em;
}
.header__flecha{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.galeria__img__servicios{
    flex-direction: column;
}
body{
    font-size: 14px;
}
.servicio{
    height: 1500px;
}
.servicio__titulo{
    width: 100%;
}
.servicio__img1__parrafo, .servicio__img2__parrafo, .servicio__img3__parrafo{
    color: #E7E8EC;
    margin-top: 30px;
    font-size: 1em;
}

.calidad__titulo{
    width: 100%;
    height: 60px;
    margin-top: 100px;
}
.calidad__video{
    width: 100%;
}
.calidad{
    height: 800px;
    display: flex;
    flex-direction: column;
}
.calidad__titulo{
    order:-1;
}

.footer__1{
    flex-direction: column;
    height: 400px;
}
.footer__1__redes{
    width: 100%;
}
.footer__1__contacto{
    width: 100%;
}
/* ///////////QUIENES SOMOS////////// */


.somos__section__titulo__logo{
    width: 200px;
    height: 200px;
}
.somos__section__titulo{

   width: 70%;
   height: 300px;
}
.somos__section__2{
    margin-top: -50px;
    justify-content: center;
}
.somos__section__2__p{
    width: 70%;
}
.somos__section__2__svg{
    display: none;
}
.somos__section__2__h2{
    display: block;
    order: 2;
}

/* //////////TRABAJOS/////// */
.trabajos__section{
    height: 800px;
    flex-direction: column;
}
.trabajos__section__servicios{
    margin-top: 30px;
}
.reparaciones__img{
    flex-direction: column;
    margin-top: 60px;
}
.reparaciones{
    height: 1700px;
}
.p__trabajos{
    font-size: 16px;
}

/* /////CELULARES////// */


.nuevos{
    flex-direction: column;
    height: 750px;
}
.celularN{
    margin: 10px;
}
.usados{
    flex-direction: column;
    height: 750px;
    margin-top: 15px;
}
.celularU{
margin: 10px;
padding: 20px;
}
}
/* /////////CONTACTANOS//// *