.somos{
    background-color: $colorPrincipal;
    width: 100%;
    height: 1200px;
    



    &__section{
    margin-top: 50px;
    width: 100%;
    height: 450px;
    display: flex;
    flex-direction: row;
    align-items: center;

    &__svg{
        height: 200px;
        margin: auto;
        
        &:hover{
            animation-name: balanceo;
            animation-duration: 2s;
            animation-iteration-count: infinite;
            animation-direction: alternate;        
        }
    }
    &__titulo{
        
        height:350px ;
        width: 50%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;
        

        &__logo{
            width: 250px;
        }

        &__h3{
            color: $colorSubtitulo;
            margin-top: 10px;
            font-weight: 400px;
            border-bottom:solid $colorResalta 1.8px;
            
        }
    }
    }

    &__section1{
        width: 100%;
        height: 300px;
        display: flex;
        align-items: center;
        justify-content: center;
        &__h2{
            height: 160px;
            width: 70%;
            display:flex;
            align-items: center;
            justify-content: center;
            font-size: $tamanoTitulos;
            color: $colorResalta;
            border: solid  $colorResalta 2px;
            border-radius: 5px;

            &:hover{
            
                @extend %botonFuego;
            }
        }

        

    }
    &__section__2{
        height: 450px;
        width: 100%;
        display: flex;
        justify-content: flex-end;
        align-items: center;
        flex-direction: column-reverse;

        &__svg{
            height: 200px;
            margin: auto;        
        }

        &__p{
            color: $colorSubtitulo;
            padding:20px;
            font-size: 1em;
            border-radius: 10px;
            height:350px ;
            width:50%;
            display: flex;
            justify-content: center;
            align-items: center;
            border-left: solid $colorResalta 1.8px;
            border-right: solid $colorResalta 1.8px;
        }
        p{
            margin-bottom: 0;
        }
    }
    

}




@keyframes balanceo {
    0%{
transform: rotate(10deg);
    }
     100%{
        transform: rotate(-10deg);
    }
    
}

@include mediaquerydesktop{
.somos__section__2{
    font-size: 0.9em;
}
}
@include mediaquerytablet{
    .somos{
        height: 1500px;

        &__section{
            font-size: 1.3em ;
            height: 600px;
            flex-direction: column;
            
            &__titulo{
                flex-direction: column;
                justify-content: center;
                align-items: center;
                text-align: center;
                font-size: 1.2em;
            }
        }


        &__section__2{
            font-size: 0.8em;
            flex-direction: column-reverse;
            height: 600px;
            align-items: center;

            &__p{
                height: 450px;
            }
        }
        
    }
}
@include mediaquerymobile{
   

    .somos__section__titulo{
        width: 70%;
        height: 300px;

        &__logo{
            width: 200px;
            height: 200px;
        }
    }
    .somos__section1__h2{
            font-size: 1.7em;
    }
    .somos__section__2{
        justify-content: center;
        &__p{
            width: 70%;
        }
        &__svg{
            display: none;
        }
        &__h2{
            display: block;
            order: 2;
        }
    }
}