.trabajos{
    width: 100%;
    height: 550px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top:  solid $colorResalta 5px;
    
    
    &__servicios{
        width: 50%;
        height: 550px;

        @extend %flex-columnCenter;
        
        &__h3{
            font-size: $tamanoTitulos;
            font-weight: 600px;
            color: $colorResalta;
        }

        &__h4{
            font-size: 1.25em;
            font-weight: 600;
            color: $colorSubtitulo;
            border-bottom: solid $colorSubtitulo 1px;

        }
        &__ul__li{
            
            margin: 20px ;
            color:$colorSubtitulo;
        }

    }
    &__img{
        width: 50%;
        height: 550px;
        @extend %flex-columnCenter;

        .robot{
            width: 300px;
        }
    }
    &__h3{
        color:$colorSubtitulo;
        font-size: 1.875em;
        font-weight: 400;
        margin-top: 40px;
        border-bottom: solid $colorResalta 1px;
        border-top: solid $colorResalta 1px;
        text-align: center;
    }

}
.reparaciones{
    width: 100%;
    height: 1600px;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    &__img{
        width: 100%;
        height: 400px;
        display: flex;
        flex-direction: row;
        align-items: center;
        .reparaciones__2 .reparaciones__4{
            display: flex;
            flex-direction: row-reverse;
        }

        .img__reparaciones{
            width: 160px;

           
        }

        &__p{
        font-size: 0.9375em;
        color:$colorSubtitulo;
        border-right: solid 1px $colorResalta;
        width: 50%;
        margin: 30px;
        
        
        }
       
      &__contenedor{
        margin-left: 50px;
        margin-right: 50px;
        height: 300px;
        width: 50%;
        display: flex;
        flex-direction: row;
        background-color: lighten($colorPrincipal, 3);
        border: solid 1px $colorResalta;
        p{
            color: $colorSubtitulo;
            border-bottom: solid 1px $colorResalta;
            
        }
        &__antes{
         
            height: 250px;
            width: 50%;
            margin: 20px;
           @extend %flex-columnCenter;
        
            
        }

        &__despues{
            
            height: 250px;
            width: 50%;
            margin: 20px;
            @extend %flex-columnCenter;
            
        }
      }
        
        
       
    }
}

.boton{
      width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    p{
     color: $colorResalta;
    font-size: 25px;
    margin-bottom: 30px;
    text-align: center;


    }
    &__a{
        @extend %botonFuego;
            padding: 10px;
            font-size: 1em;
            color: $colorSubtitulo;
            transition: .5s;

            &:hover{
                color: $colorSubtitulo;
                @extend %hoverNeon;
            }
    }
}


@include mediaquerytablet{
  
    .reparaciones{
        height: 2150px;
        &__img{
          flex-direction: column;
          margin-top: 60px;
            margin-bottom: 50px;
            &__contenedor{
                width: 80%;
                
            }
            &__p{
                  }
        }
    }
}



@include mediaquerymobile {

   
    .trabajos{
        height: 800px;
        flex-direction: column;

        &__servicios{
            margin-top: 30px;
            width: 100%;
        }
       .robot{
           width: 200px;
       }
       &__img{
           height: 300px;
       }
    }
    
    .reparaciones{
        height: 2100px;
        
        &__img{
            flex-direction: column;
            margin-top: 60px;
            &__contenedor{
            width: 100%;
            }
            
        }
    }
}

@media only screen and (max-width:390px) {

    .reparaciones__img{
        height: 700px;
        &__contenedor{
            flex-direction: column;
            height: 600px;
            align-items: center;
        }

    }
    .reparaciones{
        height: 3300px;
    }
    
}