

.header{
    /* background-image:url(../../imagenes/header6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100vh;
    text-align: center; */
    &__logo{
        height: 50px;
        width: 50px;
        object-fit: cover;
        margin-right: 10px;


        &:hover{
            animation-name:giro;
            animation-iteration-count: 1    ;
            animation-timing-function: ease-in;
            animation-duration: .5s;
            animation-delay: 0.3s;
            animation-direction:reverse;

        }
    }
    &__titulo{
        width: 100%;
        height: 100vh;
        
    }
    &__flecha{
    height: 40vh;
    width: 100%;
    display: flex;
    align-items: flex-end;
    justify-content: center;

        &__boton{
            color:#ced0dd;
            animation-name: flecha0;
            animation-timing-function: ease-in;
            animation-duration: 1s;
            animation-iteration-count: infinite;
            animation-direction: alternate;
            &:hover{
                color: $colorResalta;
            }

        }
    }
    &__barra{
        width: 100%;
        &__nav{
            display: flex;
            justify-content:space-around;
            background-color:none;
            &__a{
                width: 25%;
                 display: flex;
              align-items: center;
                justify-content: center;
            }
        }
        &__as{
            width: 75%;
            display: flex;
            justify-content: center;
        }
        &__a{
            margin-left: 8px;
            font-size: 1em;
            font-weight: 900px;
            color: $colorPrincipal;
            
            &:hover{
                color:$colorResalta;
            }
        }

    }
    &__h1__index{
        display:inline-block;
        margin-top: 240px;
        font-size: $tamanoH1;
        font-weight: 600;
        color:$colorSubtitulo;
        border-right: solid 2px $colorResalta;

        &__p{
            color: $colorSubtitulo;
            font-size: 2em;
            text-align: center;
            
        }
    }

    
}
.titulo{
    margin-top: -14vh;
    background-image:url(../../imagenes/header6.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100%;
    height:100vh;
    text-align: center;
}


.button{
    color: $colorSubtitulo;
}
.bi-arrow-down-circle-fill{
    font-size: 3.5em;
 
}
.navbar-nav{
    width: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    }
    
 .navbar-dark .navbar-brand{
        color: $colorResalta;
        font-size: 1.6em;
}
.navbar-dark .navbar-brand:hover{
        color: map-get($hovers, secundario );
}
.navbar-dark .navbar-nav .nav-link.active{
        color: $colorSubtitulo;
}
 .navbar-dark .navbar-nav .nav-link.active:hover{
        color: map-get($hovers , primario );
        border-bottom: solid $colorSubtitulo 1px;
        padding-bottom: 5px;

}







@keyframes giro {
    0%{
        transform: rotate(0deg);
    }
    25%{
        transform: rotate(90deg);
    }
    50%{
        transform: rotate(180deg);
    }
    75%{
        transform: rotate(270deg);
    }
    100%{
        transform: rotate(360deg);
    }
}
@keyframes flecha0 {
    0%{
transform: translateY(-35px);
    }
    100%{
        transform: translateY(0);
    }
    
}
@include mediaquerys (991px){
    .header__barra{
        background-color: $colorPrincipal;

        &__a{
            color: $colorSubtitulo;
        }
        &__nav__a{
            width: 70%;
            justify-content: flex-start;
        }
    }

    .navbar-dark .navbar-nav .nav-link.active {
        color: #E7E8EC;
        height:115px;

    }


}

@include mediaquerys (576px){
    .header__flecha{
        height: 40vh;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .header__h1__index{
        margin-top: 200px;
        font-size: 2.2em;
    }
}