*{
    margin: 0;
    padding: 0;
    
    font-family: 'Montserrat', sans-serif;
}
.a{
    text-decoration: none;
}
body{
    background-color: $colorPrincipal;
    font-size: 16px;
}
.html{
    scroll-behavior: smooth;
}

.bi-arrow-up-circle-fill{
    position: absolute;
color: #6B6C72;
font-size: 3em;
margin-left: 40px;
margin-top: -30px;
animation-name: flecha2;
animation-timing-function: ease-in;
animation-duration: 1s;
animation-iteration-count: infinite;
animation-direction: alternate-reverse;

 }

@keyframes flecha2 {
0%{
transform: translateY(35px);
}
100%{
    transform: translateY(0);
}

}



@media only screen and (max-width: 576px){

  
body{
    font-size: 14px;
}
}
