
$colorPrincipal:#1C2641;
$colorResalta:#EB714B;
$colorSubtitulo:#E7E8EC;

$tamanoH1:2.8125em;
$tamanoTitulos:2.1875em;

$hovers: (
   primario: #EB714B,
   secundario:  darken( #EB714B, 20),
   terciario:  #1C2641
);
%botonFuego{
    color: $colorSubtitulo;
    background: linear-gradient(90deg, rgba(235,113,75,1) 0%, rgba(217,29,0,0.639093137254902) 99%);
}


%hoverNeon{
    box-shadow: 0 0 10px #EB714B, 0 0 30px #EB714B, 0 0 60px #EB714B;
    transition-delay: .3s;

}

%flex-columnCenter{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

}
@mixin mediaquerydesktop{
    @media only screen and (max-width:991px){
        @content;
    }
}
@mixin mediaquerytablet{
    @media only screen and (max-width:822px){
        @content;
    }
}

@mixin mediaquerymobile{
    @media only screen and (max-width:576px){
        @content;
    }
}

@mixin mediaquerys ($pixels){
    @media only screen and (max-width:$pixels){
        @content;
    }
}


