/* /////////// COLORES //////////////////// */
$colorPrincipal:#1C2641;
$colorResalta:#EB714B;
$colorSubtitulo:#E7E8EC;
/* /////////// MEDIDAS  ////////////////////7 */
$tamanoH1:2.8125rem;
$tamanoTitulos:2.1875rem;
